{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
<html class="dark light">

{% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}
	
	        <hr>
<p style="text-align:right;"><a href="https://www.abuseipdb.com/user/169005" title="AbuseIPDB is an IP address blacklist for webmasters and sysadmins to report IP addresses engaging in abusive behavior on their networks">
	<img src="https://www.abuseipdb.com/contributor/169005.svg" alt="AbuseIPDB Contributor Badge" style="width: 162px;background-color:white;"> <a href="https://www.mabsland.com/Adoption.html"><img src="/Censor_14c.gif" alt="14 and up censorship panda button"></a> <a href="https://watchtfa.com/"><img src="https://watchtfa.com/watchtfa.png" alt="Watch Transformers Animated Website button"></a><iframe src="//incr.easrng.net/badge?key=blitzywing" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>
</a></p>

        {% if page.extra.comment is defined  %}
            {% set show_comment = page.extra.comment %}
        {% else %}
            {% set show_comment = false %}
        {% endif %}

        {% if show_comment %}
        <div class="giscus"></div>
        {% include "_giscus_script.html" %}
        {% endif %}
    </div>
</body>
</html>
