{% extends "base.html" %}

{% block main_content %}
    {{ post_macros::home_page(section=section) }}
	<form id="ntfy-form">
  <input
    id="message"
    name="message"
    rows="4"
    cols="50"
    placeholder="Enter your message"></input>
  <button type="submit">send</button>
</form>

<p style="text-align:left;"><a href="https://www.abuseipdb.com/user/169005" title="AbuseIPDB is an IP address blacklist for webmasters and sysadmins to report IP addresses engaging in abusive behavior on their networks">
	<img src="https://www.abuseipdb.com/contributor/169005.svg" alt="AbuseIPDB Contributor Badge" style="width: 162px;background-color:white;"> <a href="https://www.mabsland.com/Adoption.html"><img src="/Censor_14c.gif" alt="14 and up censorship panda button"></a> <a href="https://watchtfa.com/"><img src="https://watchtfa.com/watchtfa.png" alt="Watch Transformers Animated Website button"></a><iframe src="//incr.easrng.net/badge?key=blitzywing" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>
</a></p>

<details><summary>Woah, webrings!</summary>
    <p><span><a href="https://webring.dinhe.net/prev/https://www.blitzw.in">prev</a> | <a href="https://webring.dinhe.net/">retronaut</a> | <a href="https://webring.dinhe.net/next/https://www.blitzw.in">next</a></span></p>
    <p><span><a href="https://webring.bucketfish.me/redirect.html?to=prev&name=blitzw.in">prev</a> | <a href="https://webring.bucketfish.me">bucketfish</a> | <a href="https://webring.bucketfish.me/redirect.html?to=next&name=blitzw.in">next</a></span></p>
    <p><span><a href="https://512kb.club">512KB Club</a></span></p></details>


{% endblock main_content %}
