{% extends "base.html" %}

{% block main_content %}
    {% if section.extra.section_path -%}
        {% set section = get_section(path=section.extra.section_path) %}
    {% endif -%}

    {% block title %}
        {{ post_macros::page_header(title=section.title) }}
    {% endblock title %}

    {% block post_list %}
        <main class="list">
            {%- if paginator %}
                {%- set show_pages = paginator.pages -%}
            {% else %}
                {%- set show_pages = section.pages -%}
            {% endif -%}

            {{ post_macros::list_posts(pages=show_pages) }}
        </main>
    {% endblock post_list %}

<p style="text-align:left;"><a href="https://www.abuseipdb.com/user/169005" title="AbuseIPDB is an IP address blacklist for webmasters and sysadmins to report IP addresses engaging in abusive behavior on their networks">
	<img src="https://www.abuseipdb.com/contributor/169005.svg" alt="AbuseIPDB Contributor Badge" style="width: 162px;background-color:white;"> <a href="https://www.mabsland.com/Adoption.html"><img src="/Censor_14c.gif" alt="14 and up censorship panda button"></a> <a href="https://watchtfa.com/"><img src="https://watchtfa.com/watchtfa.png" alt="Watch Transformers Animated Website button"></a><iframe src="//incr.easrng.net/badge?key=blitzywing" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>
</a></p>

    {% if paginator %}
        <ul class="pagination">
            {% if paginator.previous %}
                <span class="page-item page-prev">
                    <a href={{ paginator.previous }} class="page-link" aria-label="Previous"><span aria-hidden="true">← Prev</span></a>
                </span>
            {% endif %}

            {% if paginator.next %}
                <span class="page-item page-next">
                    <a href={{ paginator.next }} class="page-link" aria-label="Next"><span aria-hidden="true">Next →</span></a>
                </span>
            {% endif %}
        </ul>
    {% endif %}
{% endblock main_content %}
